<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href="/static/app.css">
</head>

<body>
  <nav>
    <a href="/">See all pets</a>
    <a href="/add">Add pet</a>
  </nav>
  {% block content %}
  <div class='pets'>
    {% for pet in pets %}
    <div class="pet">
      <a href="/pets/{{pet.id}}">
        <h3>{{pet.name}} {% if pet.available %}
          - adopt me!
          {% endif %}
        </h3>
      </a>
      <img src="{{pet.image_url}}">
      <p>{{pet.species}}
        {% if pet.age %}
        <span> - {{pet.age}} yr</span>
        {% endif %}
      </p>
      {% if pet.notes %}
      <p>{{pet.notes}}</p>
      {% endif %}
    </div>

    {% endfor %}
  </div>
  {% endblock %}
</body>

</html>